body {
    background: #222426;
}

h1, p, li, a {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: lime;
    text-align: center;
}

li {
    list-style-type: none;
}

hr {
    border: 5px solid lime;
    border-radius: 50px;
    width: 50%; 
}

.spacer {
    display: inline-block;
    min-height: 200px;
}