.image {
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position: center;
  }

.pageheader {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 24px;
	border-bottom: 1px solid black;
	width: 30%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

p { 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 24px;
	width: 30%;
	padding-top: 15px;
	margin: 0px auto;
}

.subsection {
	background: #C9C57A;
	margin-top: 25px;
}

.django1 {
	background: url("images/b4-gallery/django1.jpg");
}
.django2 {
	background-image: url("images/b4-gallery/django2.jpg");
}
.django3 {
	background-image: url("images/b4-gallery/django3.jpg");
}
.sabata1 {
	background-image: url("images/b4-gallery/sabata1.jpg");
}