.pageheader {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 24px;
	border-bottom: 1px solid black;
	width: 30%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

p { 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 24px;
	width: 30%;
	padding-top: 15px;
	margin: 0px auto;
}

.subsection {
	background: #C9C57A;
	padding: 0 25px;
	margin: 25px;
}

.image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	height: 250px;
	width: auto;
	margin: 10px 0;
}

/*
.image:hover {
	position: absolute;
	left: -9999px;
}
*/

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;	
}

.subcontainer {
	padding-bottom: 25px;
}

/* Protagonists */
.django1 {background-image: url("images/b4-gallery/django1.jpg");}
.django2 {background-image: url("images/b4-gallery/django2.jpg");}
.django3 {background-image: url("images/b4-gallery/django3.jpg");}
.sabata1 {background-image: url("images/b4-gallery/sabata1.jpg");}
.sabata2 {background-image: url("images/b4-gallery/sabata2.jpg");}
.sabata3 {background-image: url("images/b4-gallery/sabata3.jpg");}
.sabata4 {background-image: url("images/b4-gallery/sabata4.jpg");}
.sartana1 {background-image: url("images/b4-gallery/sartana1.jpg");}

/* Antagonists */
.pork1 {background-image: url("images/b4-gallery/pork1.jpg");}
.pork2 {background-image: url("images/b4-gallery/pork2.jpg");}
.pig1 {background-image: url("images/b4-gallery/pig1.jpg");}
.lizardman1 {background-image: url("images/b4-gallery/lizardman1.jpg");}
.spotter1 {background-image: url("images/b4-gallery/spotter1.jpg");}
.rymer1 {background-image: url("images/b4-gallery/rymer1.jpg");}
.rymerarmor1 {background-image: url("images/b4-gallery/rymerarmor1.jpg");}
.rymerarmor2 {background-image: url("images/b4-gallery/rymerarmor2.jpg");}
.rymerarmor3 {background-image: url("images/b4-gallery/rymerarmor3.jpg");}
.rymerarmor4 {background-image: url("images/b4-gallery/rymerarmor4.jpg");}
.edgar1 {background-image: url("images/b4-gallery/edgar1.jpg");}
.virginia1 {background-image: url("images/b4-gallery/virginia1.jpg");}
.poearmor1 {background-image: url("images/b4-gallery/poearmor1.jpg");}
.poearmor2 {background-image: url("images/b4-gallery/poearmor2.jpg");}
.poearmor3 {background-image: url("images/b4-gallery/poearmor3.jpg");}
.poearmor4 {background-image: url("images/b4-gallery/poearmor4.jpg");}
.stoker1 {background-image: url("images/b4-gallery/stoker1.jpg");}
.stoker2 {background-image: url("images/b4-gallery/stoker2.jpg");}
.stokerarmor1 {background-image: url("images/b4-gallery/stokerarmor1.jpg");}
.stokerarmor2 {background-image: url("images/b4-gallery/stokerarmor2.jpg");}
.stokerarmor3 {background-image: url("images/b4-gallery/stokerarmor3.jpg");}
.dumas1 {background-image: url("images/b4-gallery/dumas1.jpg");}
.dumas2 {background-image: url("images/b4-gallery/dumas2.jpg");}
.dumas3 {background-image: url("images/b4-gallery/dumas3.jpg");}
.polidori1 {background-image: url("images/b4-gallery/polidori1.jpg");}
.polidori2 {background-image: url("images/b4-gallery/polidori2.jpg");}
.polidori3 {background-image: url("images/b4-gallery/polidori3.jpg");}
.polidori4 {background-image: url("images/b4-gallery/polidori4.jpg");}
.polidori5 {background-image: url("images/b4-gallery/polidori5.jpg");}
.polidori6 {background-image: url("images/b4-gallery/polidori6.jpg");}

/* Seireiju | Terrenials */
.otenko1 {background-image: url("images/b4-gallery/otenko1.jpg");}
.nero1 {background-image: url("images/b4-gallery/nero1.jpg");}
.perrault1 {background-image: url("images/b4-gallery/perrault1.jpg");}
.ursula1 {background-image: url("images/b4-gallery/ursula1.jpg");}
.otfried1 {background-image: url("images/b4-gallery/otfried1.jpg");}
.otfried2 {background-image: url("images/b4-gallery/otfried2.jpg");}
.liza1 {background-image: url("images/b4-gallery/liza1.jpg");}
.tove1 {background-image: url("images/b4-gallery/tove1.jpg");}
.tove2 {background-image: url("images/b4-gallery/tove2.jpg");}


/* NPCs */
.townsfolk1 {background-image: url("images/b4-gallery/townsfolk1.jpg");}
.sheridan1 {background-image: url("images/b4-gallery/sheridan1.jpg");}
.sheridan2 {background-image: url("images/b4-gallery/sheridan2.jpg");}
.carmilla1 {background-image: url("images/b4-gallery/carmilla1.jpg");}
.carmilla2 {background-image: url("images/b4-gallery/carmilla2.jpg");}
.alice1 {background-image: url("images/b4-gallery/alice1.jpg");}
.alice2 {background-image: url("images/b4-gallery/alice2.jpg");}
.alice3 {background-image: url("images/b4-gallery/alice3.jpg");}
.alice4 {background-image: url("images/b4-gallery/alice4.jpg");}
.alice5 {background-image: url("images/b4-gallery/alice5.jpg");}
.guild1 {background-image: url("images/b4-gallery/guild1.jpg");}
.guild2 {background-image: url("images/b4-gallery/guild2.jpg");}
.guild3 {background-image: url("images/b4-gallery/guild3.jpg");}
.laura1 {background-image: url("images/b4-gallery/laura1.jpg");}
.laura2 {background-image: url("images/b4-gallery/laura2.jpg");}
.lisbeth1 {background-image: url("images/b4-gallery/lisbeth1.jpg");}
.lisbeth2 {background-image: url("images/b4-gallery/lisbeth2.jpg");}
.ernest1 {background-image: url("images/b4-gallery/ernest1.jpg");}
.ernest2 {background-image: url("images/b4-gallery/ernest2.jpg");}
.kay1 {background-image: url("images/b4-gallery/kay1.jpg");}
.kay2 {background-image: url("images/b4-gallery/kay2.jpg");}
.beatrix1 {background-image: url("images/b4-gallery/beatrix1.jpg");}
.beatrix2 {background-image: url("images/b4-gallery/beatrix2.jpg");}
.beatrix3 {background-image: url("images/b4-gallery/beatrix3.jpg");}
.vanargand1 {background-image: url("images/b4-gallery/vanargand1.jpg");}
.jormungandr1 {background-image: url("images/b4-gallery/jormungandr1.jpg");}
.hel1 {background-image: url("images/b4-gallery/hel1.jpg");}
.shield1 {background-image: url("images/b4-gallery/shield1.jpg");}
.shield2 {background-image: url("images/b4-gallery/shield2.jpg");}
.shield3 {background-image: url("images/b4-gallery/shield3.jpg");}
.shield4 {background-image: url("images/b4-gallery/shield4.jpg");}
.irving1 {background-image: url("images/b4-gallery/irving1.jpg");}
.byron1 {background-image: url("images/b4-gallery/byron1.jpg");}