body {
background-color: #FCF8AD;
margin:0px;
}

#wrapper {
	display:flex;
	background-color: #FCF8AD;
	font-family:Verdana;
	height:100%;
	width:100%;
}
#lbar, #rbar{
	background-color:#507C36;
	border:1px solid #111111;
	border-top:0;
	position:relative;
	/*! width: auto; */
	flex-grow:0;
	flex-shrink:0;
	flex-basis: auto;
}

header {
	border-style: ridge;
	border-color: white;
	/* top, right, bottom, left */
	border-width: 0px 0px 5px 0px;
	padding: 0px 5px 0px 5px;
}

#lbar {
	border-style: ridge;
	border-color: white;
	/* top, right, bottom, left */
	border-width: 0px 5px 0px 0px;
}

#rbar {
	border-style: ridge;
	border-color: white;
	/* top, right, bottom, left */
	border-width: 0px 0px 0px 5px;
}

/* the below is temporary until more content gets put into the rbar */
#rbar {
	flex-basis: 12%;
}
/* this isn't what I need but I'm amazed this worked the first try
#rbar {
	flex-basis: var(#lbar-flex-basis);
}
*/

#lbar a:link, #lbar a:active, #lbar a:visited, #lbar a:hover, #lbar strong{
	display:block;
	color:#000000;
	position:relative;
}
#lbar ul, #rbar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	
}

#lbar li, #rbar li {
	padding-left: 5px;
	padding-right: 5px;
}

/* both bars - font size */
#lbar, #rbar {
    font-size: small;
}

#content {
	flex-grow:2;
	color: black;
	padding: 10px;
	text-align: center;
	/*
	padding-left: 10px;
	padding-right: 10px;
	*/

}

#lbar .navheader {
	font-size:16px;
	display: block;
	background: linear-gradient(#399b43, #7bcd3b);
	text-align: center;
	padding: 4px 0;
	border-top: 1px solid #000;
    border-top-width: 1px;
	border-bottom: 1px solid #000;
	font-size: 15px;
	font-weight: 900;
	color: #104c09;
	text-shadow: 0 0 3px #b1e689;
}

header {
padding-bottom: 10px;	
}

#banner img {
	margin:auto;
}

#logo {
	max-width:50%;
	height:auto;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

#quicklings {
	font-family: Verdana;
}