html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #ffffff;
}

h1,
h2 {
    font-family: 'Lora', 'Courier New', monospace, serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 20px;
}

.Main {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
}



.content {
    display: flex;
    margin: auto;
    justify-content: center;
}

.specialContent {
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 500px;
    text-align: center;
}

hr {
    width: 50%;
}

textarea {
    width: 300px;
    height: 200px;
}

/*
svg stuff ?
*/

.z3 {
    animation: hideshow 10s ease infinite;
}

.z2 {
    opacity: 0;
    animation: hideshow 10s 1.5s ease infinite;
}

.z1 {
    opacity: 0;
    animation: hideshow 10s 3s ease infinite;
}

@keyframes hideshow {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    15% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 1080px) {
    .Video {
        width: 304px;
        height: 171px;
    }
}

.container {
    width: 80%;
    text-align: center;
    height: 1000px;
    width: 1000px;
}

.siesta {
    max-width: 550px;
    margin: auto;
}

.monitor {
    height: 60%;
    color: #5988ff;
    text-shadow: 0 0 0.625em #5988ff;
    font-family: "Lora", serif;
    font-weight: bold;
}

.invert {
    -webkit-filter: invert(100%);
    /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.peanut {
    color: red;
    font-family: "Lora", serif;
    font-weight: bold;
    text-transform: uppercase;
}

#peanut {
    padding: 50px 0;
}

#boss {
    max-width: 550px;
    margin: auto;
    padding: 25px 0;
}
.boss {
    color: #edc314;
    font-family: "Lora", serif;
    font-weight: bold;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.spin {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 10s linear infinite;
    padding: 30px 0;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}