body {
    background: #000;
    /*background: #212529;*/
    text-align: center;
}

h1,
h2,
p,a {
    color: #fff;
    font-family: "Lora", "Courier New", monospace, serif;
}

#container {
    display: none;
}

.header {
    color: #aaa;
    display: inline;
    font-weight: normal;
}

table {
    border: 1px solid white;
    text-align: center;
    border-spacing: 0xp;
    width: 400px;
    margin: auto;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 18px;
}

th {
    height: 40px;
    padding: 5px;
}

td {
    height: 20px;
    padding: 5px;
}


table tr:nth-child(even) {
    background: #111;
}

#team-logo {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#team-name {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 30px;
}

.page-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
}

footer {
    justify-content: center;
    padding: 5px;
    background-color: #222426;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
a, a:visited {
    color:#fff;
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    /*font-family: "Lora", "Courier New", monospace, serif;*/
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: auto;
    padding: 8px 16px;
}