body {
    background: #000;
    /*background: #212529;*/
}

h1,
h2,
p {
    color: #fff;
    font-family: "Lora", "Courier New", monospace, serif;
}

#container {
    display: none;
}

h2 {
    display: inline;
}