body {
    background: #dddbd9;
    /*background: #212529;*/
    text-align: center;
}

h1,
h2,
h6,
p,
a,
table * {
    color: #222426;
    font-family: "Lora", "Courier New", monospace, serif;
}

.page-header {
    display: inline;
    margin-bottom: 10px;
}

p {
    margin-left: 1em;
    font-size: 14px;
    display: inline;
    align-items: center;
}

table {
    text-align: center;
    border-spacing: 0xp;
    width: 400px;
    margin: auto;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 18px;
}

table,
td {
    border: 3px solid #222426;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    width: 150px;
    height: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button {
    border: 3px solid #222426;
    margin: 20px 0;
}

div {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
}

.checked {
    background: rgba(0, 59, 213, 0.3);
    border-radius: 50%;
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
}